---
import ValueCard from "../../components/ValueCard.astro";
---

<div id="about-me" class="h-screen flex flex-col justify-center items-center gap-5">
    <div class="flex flex-col items-center text-center gap-5">
        <div>
            <img/>
            <h1 class="title_about_me">WHO AM I ?</h1>
            <img/>
        </div>
    
        <p class="w-2/3">
            I am a passionate and ambitious young developer with a deep love for art and video games. 
            Driven by a relentless curiosity and a thirst for knowledge. 
            I aspire to collaborate with people from all over the world to create innovative applications that shape the future. 
            Combining creativity, technical expertise, and a global mindset. 
            I am eager to contribute to projects that push the boundaries of technology while reflecting the beauty of artistic expression and interactive design.
        </p>
    </div>

    <ValueCard />

    <img class="w-full" src="src/assets/about_me/bottom_line.svg" />
</div>

<style>
    .title_about_me::before {
        content: '';
        background-image: url('src/assets/about_me/sparkle_two.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
    }

    .title_about_me::after {
        content: '';
        background-image: url('src/assets/about_me/sparkle_one.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
    }
</style>