---
import "@fontsource/roboto-mono"
import "@fontsource/courier-prime"
import Header from '../components/Header.astro';
import Introduction from "./Home/Introduction.astro";
import AboutMe from "./Home/AboutMe.astro";
---

<main class=" p-1">
	<Header/>
	<Introduction/>
	<AboutMe/>
</main>

<style is:global>
	h1, a {
		font-family: "Courier Prime";
	}

	html {
		font-family: "Roboto Mono";
		font-size: 16px;
		color: #2A2A2A;
	}

</style>