---
import { Mail } from "@lucide/astro";
import LinkedInIcon from '@mui/icons-material/LinkedIn';
import GithubIcom from '@mui/icons-material/Github';
---

<div class="text-lg flex flex-row items-center justify-between w-full p-5 right-0 left-0">
    <h1>
        ITH Kagnana
    </h1>

    <nav class="flex flex-row items-center text-lg gap-10">
        <a href="#about-me" >About me</a>
        <a href="" >My projects</a>

        <div class="flex flex-row items-center text-lg gap-5">
            <a href="https://github.com/iKagnana"><GithubIcom/></a>
            <a href="https://www.linkedin.com/in/kagnana-ith/"><LinkedInIcon/></a>
            <a href="mailto:ikagnana@gmail.com" ><Mail/></a>
        </div>
	</nav>
</div>
